Introduction to Python

In [3]:
# variable num and value 3
num=3

In [5]:
#running variable code
num

3

In [9]:
#This is a code block; code within a single box that runs line by line within the block
num=4
num

4

In [11]:
#This is a single line that runs only when you run the one code line when it is run
num

4

In [13]:
# creating many variables at once with the same value
#If you change the value it will change the value for all of the variables.
x = y = z = 4

In [15]:
x

4

In [17]:
y

4

In [19]:
z

4

Updating variables and Strings

In [22]:
#creating a string variable
a = 'Great Learning'

In [24]:
#running variable a
a

'Great Learning'

In [26]:
#what happens when you create a string variable and run it without quotations; SyntaxError: Invalid syntax (a problem with the symbols and structure you are using)
b = Great Learning
b

SyntaxError: invalid syntax (494713069.py, line 2)

In [28]:
#simultaneous creation of variables a=first value, b=second value, c=third value
a,b,c = 4,5,"Great Learning"

In [30]:
#When we run all these variables in the same block it will only provide the last variable and value it reads.
a
b
c

'Great Learning'

In [32]:
a

4

In [34]:
b

5

In [36]:
c

'Great Learning'

In [46]:
#this udpdates variable 2 to variable 1. We can initialize the variable to a certain value but those values can get overridden with calculations that are done on them
#in this example variable 2 was originally Arthur but we overrode it to become equal to variable 1.
var1 = 25
var2 = "Arthur"
var2=var1

In [48]:
var2

25

Integer, Float, and Complex

In [53]:
a = 5
a

5

In [55]:
#asking for the type of variable. type is a function (a little program that runs on other objects inside of Python)
#The thing the function is running on is the thing in parentheses (probably called a parameter)
type(a)

int

In [57]:
#this is a floating point number. The floating point is the decimal and it can be anywhere in the number.
a = 1.1
a

1.1

In [59]:
type(a)

float

In [65]:
#this is the same value as the block below (16000) but one creates a floating point decimal and the other does not so they are different types.
a = 1.6e4
a
type(a)

float

In [67]:
a = 16000
a
type(a)

int

In [69]:
#complex numbers in Python
#avoid i when naming variables, to include complex variables
#complex numbers are not used often in data analysis. But in machine learning you may get complex values.
x = 3+4j
x

(3+4j)

In [71]:
type(x)

complex

Operations on Strings

In [78]:
#this is string concatonation
#The " " in between the addition signs creates the space
str1 = "Great"
str2 = "Learning"
str1 + " " + str2

'Great Learning'

In [80]:
#you can also order strings with multiplication
#this code repeats ACTG 10 times
str4 = "ACTG"
str4*10

'ACTGACTGACTGACTGACTGACTGACTGACTGACTGACTG'

In [82]:
#this code gives me the second character in str4
str4[1]

'C'

In [84]:
#this code gives me the second character starting at the end or right of the string. the negative is swhat accomplishes this
str4[-2]

'T'

In [86]:
#this will give me the first three characters of str1
#square brackets indicate an index or location of an item
#this code starts at the first character and ends at the third in what it reads or locates.
str1[0:3]

'Gre'

Boolean Data Type

In [91]:
#this is a boolean value. This type is named after George bool. It is a logical yes or no or zero or one. In computing it is usually a True or a False
#the green print means Jupyter recognizes this as something intrisic to Python; an assigned label
var = True
varF = False
type(var)
type(varF)

bool

In [93]:
#this is not a variable assignement but a calcualtion. If Python understands this then the answer will be a boolean
#Booleans are very useful in exception handling
10>9

True

Changing Data Types

In [96]:
type(11)

int

In [98]:
float(11)

11.0

In [100]:
str(11)

'11'

In [102]:
bool(0)

False

In [104]:
bool(1)

True

In [106]:
#this returns the integer part of 11.7. It ignores the decimal part and returns the integer part.
int(11.7)

11

In [108]:
bool(3)

True

In [110]:
float("13 start")

ValueError: could not convert string to float: '13 start'

In [112]:
#As displayed by above, float only works on strings that contain numbers
float("13")

13.0

Print Statement

In [115]:
#just placing the variable in the code will make it print.
#you can also print with the print() function
#in this function we are passing the argument "Hello World" to the function

print("Hello World")

Hello World

In [123]:
#in this print function we are passing two arguments to the function. (the string and the variable)
#the variable value that is used is the most recent value assigned to the variable
#The output does not discriminate, between what comes form the string or the variable. This helps when creating displays we create manual strings and force other outputs into the output display
x = 2
print("x =", x)

x = 2

In [129]:
#print is a persistent command and forces the printing of whatever argument is to be printed, irrespective of where it is in the line of code.
#\n is a carriage return and moves down a line. This is an example of excape sequence that introduces a uniqe display into the output
#the space at the end of the equal sign after x creates a space
x = 7
y = 9
print("x = ",x,end="\n\n")
print("y =",y)

x = 7

y = 9

User Input

The Python input() function is usd to read data from a standard input such as a keyboard and treats the received data as a string. Basically, when we enter digit value, input() in Python 3 stores it as a string value. So to convert string value to integer value or float value etc. we will use the int() function and float() function respectively.

In [9]:
age = int(input("please type in your age: "))
print (age)
type (age)

please type in your age:  39

39

int

In [1]:
groceryBill = float(input("please type in your last grocery bill: "))
print(groceryBill)
type(groceryBill)

KeyboardInterrupt: Interrupted by user

In [13]:
#the input function receives a string so you don't have to use a type cast function to change the value if the input field is going to be a string.
name = input("Please enter your name: ")
print(name)
type(name)

Please enter your name:  Jeron Williams

Jeron Williams

str

### Python Operators

#### Arithmetic Operator

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.

In [9]:
a = 10
b = 3

#the " + " symbol adds a & b together
print("a + b= ", a+b)

#the " * " symbol multiplies a & b together
print("a * b= ", a*b)

#the " - " symbol subtracts b from a
print("a - b= ", a-b)

#the " / " symbol diveds a by b
print("a / b= ", a/b)

#the " ** " symbol carries a to the power of b
print("a ** b= ", a**b)

#the " // " symbol diveds a by b and provides an integer value as a result
print("a // b= ", a//b)

#the modulus operator divides a by b and provides the remainder as the result
print("a % b= ", a%b)

a + b=  13
a * b=  30
a - b=  7
a / b=  3.3333333333333335
a ** b=  1000
a // b=  3
a % b=  1

#### Comparison Operators

Comparison operator carries out the comparison between operands. They tell us whether an operand is greater than the other, lesser, equal, or a combination of those. It returns a boolean value (i.e. True or False) based on the condition.

In [15]:
a = 32
b = 12

#this is the equal to comparison operator. It evaluates equality in value not assignement, like the = sign does
print("a == b= ", a==b)

#not equal to
print("a != b= ", a!=b)

#less than
print("a < b= ",a<b)

#greater than
print("a > b= ", a>b)

#greater than or equal to
print("a >= b= ", a>=b)

#less than or equal to
print("a <= b= ", a<=b)

a == b=  False
a != b=  True
a < b=  False
a > b=  True
a >= b=  True
a <= b=  False

#### Assignment Operators

The = value is an assignment operator. However, you can use the = assignment operator with something in front of it, like a +, -, *, /, etc. to change the original value of the variable. IN this way the value is manipulated before reassignment.

In [9]:
x = 6

# the preceeding operators reassign a value to the x variable after performing an operation on it

x += 3
print("updated value after x += 3 ", x)

x -= 4
print("updated value after x -= 4 ", x)

x *= 8
print("updated value after x *= 8 ", x)

x /= 3
print("updated value after x /= 3 ", x)

updated value after x += 3  9
updated value after x -= 4  5
updated value after x *= 8  40
updated value after x /= 3  13.333333333333334

#### Logical Operators

Logical operators are like conjunctions that you can use to combine more than one condition. There are 3 Python logical operators, and, or, and not.

##### 'and operator'

if the condition on both sides of the and operator are /met, then the expression as a whole is true

In [22]:
# this is the and operator with both conditions met
x = 12

a =x > 11 and x < 20

print(a)

True

In [24]:
# this is the and operator with only one condition met
x = 12

a =x > 11 and x < 10

print(a)

False

##### 'or' operator

if either the conditions are met on one side of the or operator, then the expression as a whole is true

In [28]:
# this is an example of one condition being met
x = 15

a = x > 15 or x < 17
print(a)

True

In [32]:
# this is an example of neither condition being met
a = x > 16 or x < 13
print(a)

False

#### Introduction to Lists

##### Constructing Lists

To create a list, use square brackets [] and seperate items with a comma. A list can be empty or contain nested elements. It can also contain any number of data types (i.e. integers, floats, strings, etc.)

In [37]:
# create an empty list

empty_list = []
print(empty_list)

[]

In [39]:
# creating a nested list
my_list = [["AI", "Machine Learning", "Generative AI",], [42, 76, 34]]
my_list

[['AI', 'Machine Learning', 'Generative AI'], [42, 76, 34]]

##### Accessing Elements in Lists

You can access the list items by referring to the index number. THink of lists as super strings or strings of strings. In this way it helps relate that you can access list elements just as you access string elements.

###### Indexing

We use the index operator []. We can access the list element by referring to its index number. All index numbers are integers and zero based.

In [51]:
# define a list

course = ["Data Science", "Machine Learning", "Generative AI", "HTML", "Big Data"]
print(course)

['Data Science', 'Machine Learning', 'Generative AI', 'HTML', 'Big Data']

In [55]:
# accessing first and second elements in a list

print(course[0])
print(course[1])

Data Science
Machine Learning

###### Negative Indexing

In [58]:
# accessing list items starting at the end of the list. NOTICE the list index starts from one when accessing list elements this way

print(course[-1])
print(course[-2])

Big Data
HTML

##### Slicing Lists

Lists use the slicing operator : (colon) to extract part of a sequence

In [73]:
# define a list

course = ["Data Science", "Machine Learning", "Generative AI", "HTML", "Big Data"]

# this prints the whole list
print(course[:])

# this prints the first three elements of the list
print(course[:3])

# this starts at the ssecond index of the list and then prints the rest of the list
print(course[1:])

['Data Science', 'Machine Learning', 'Generative AI', 'HTML', 'Big Data']
['Data Science', 'Machine Learning', 'Generative AI']
['Machine Learning', 'Generative AI', 'HTML', 'Big Data']

If all three: start, stop, and step instructions are provided, the result will be an index starting point and ending point, with instructions for the jumps it is to make in the list.

In [81]:
# this prints the list course starting at the first index(first number) and going until the fourth (second number). It takes jumps of two (third number) in the indexed elements that it displays
print(course[0:4:2])

['Data Science', 'Generative AI']

##### Change Items in a List

In [86]:
# this replaces list index number 3 (fourth item), which is HTML, with Statistics
course[3] = "Statistics"
course

['Data Science', 'Machine Learning', 'Generative AI', 'Statistics', 'Big Data']

##### List Methods

###### Methods in Python for list manipulation

Python has a set of built-in methods that you can use on lists and arrays:<br>
append()<br>
insert()<br>
extend()<br>
del(not a method but an operator)<br>
remove()<br>
pop()<br>
reverse()<br>

**list.append()**<br>
This method will add an element at the end of the list. It is for creating a list of lists.

In [186]:
# created original list
course1 = ["Biblical Studies", "Apologetics", "New Testament Survey", "Old Testament Survey"]

# created a new string variable to add to the list
course2 = ["Hermeneutics"]

# use the append method to add the new list (course2) to the end of course1 list. NOte "Hermeneutics" is now a nested list within the original list.
course1.append(course2)
print(course1)

['Biblical Studies', 'Apologetics', 'New Testament Survey', 'Old Testament Survey', ['Hermeneutics']]

**list.insert()**<br>
This method will insert an element at the index of the list that you direct it to

In [188]:
# this inserts the second argument of the function into the third index of the list course1. It does not remove anything it only shifts everything to the right after insertion.
course1.insert(2, 'Introduction to Biblical Greek')
print(course1)

['Biblical Studies', 'Apologetics', 'Introduction to Biblical Greek', 'New Testament Survey', 'Old Testament Survey', ['Hermeneutics']]

**list.extend()**<br>
This method concatonates a list

In [190]:
course3 = ["Old Testament Survey", "Intermediate Greek", "Introduction to Philosophy of Religion"]

# this concatonates course3 list to course1
course1.extend(course3)
print(course1)

['Biblical Studies', 'Apologetics', 'Introduction to Biblical Greek', 'New Testament Survey', 'Old Testament Survey', ['Hermeneutics'], 'Old Testament Survey', 'Intermediate Greek', 'Introduction to Philosophy of Religion']

**Deleting list elements**<br>
Use the del keyword(non-method) to delete an item at a specific index

In [192]:
# this deletes the first index of the list course1.
del course1[0]
print(course1)

['Apologetics', 'Introduction to Biblical Greek', 'New Testament Survey', 'Old Testament Survey', ['Hermeneutics'], 'Old Testament Survey', 'Intermediate Greek', 'Introduction to Philosophy of Religion']

**list.remove(item)**<br>
This will search for and remove only the first occurrence of an item

In [194]:
print(course1)

# this found the first occurrence of "Old Testament Survey" and removed it from the list
course1.remove("Old Testament Survey")
print(course1)

['Apologetics', 'Introduction to Biblical Greek', 'New Testament Survey', 'Old Testament Survey', ['Hermeneutics'], 'Old Testament Survey', 'Intermediate Greek', 'Introduction to Philosophy of Religion']
['Apologetics', 'Introduction to Biblical Greek', 'New Testament Survey', ['Hermeneutics'], 'Old Testament Survey', 'Intermediate Greek', 'Introduction to Philosophy of Religion']

**list.pop()**<br>
Removes and returns the last item of a list

In [198]:
#this removes the last item of a list and returns it. You can also insert an index number within the parentheses, without square brackets, and remove a specific index.
print(course1)

course1.pop()

['Apologetics', 'Introduction to Biblical Greek', 'New Testament Survey', ['Hermeneutics'], 'Old Testament Survey', 'Intermediate Greek', 'Introduction to Philosophy of Religion']

'Introduction to Philosophy of Religion'

In [200]:
#this reverses the list from right to left

print(course1)
course1.reverse()
print(course1)

['Apologetics', 'Introduction to Biblical Greek', 'New Testament Survey', ['Hermeneutics'], 'Old Testament Survey', 'Intermediate Greek']
['Intermediate Greek', 'Old Testament Survey', ['Hermeneutics'], 'New Testament Survey', 'Introduction to Biblical Greek', 'Apologetics']

**Concatonation**<br>
This adds two lists together

In [203]:
# this just adds course1 and course3 together
course1 + course3

['Intermediate Greek',
 'Old Testament Survey',
 ['Hermeneutics'],
 'New Testament Survey',
 'Introduction to Biblical Greek',
 'Apologetics',
 'Old Testament Survey',
 'Intermediate Greek',
 'Introduction to Philosophy of Religion']

**Repetition**<br>
Uses the * operator to concatonate a list a repeated number of times

In [208]:
# this just adds the lists together however many times you request it
course1 *2

['Intermediate Greek',
 'Old Testament Survey',
 ['Hermeneutics'],
 'New Testament Survey',
 'Introduction to Biblical Greek',
 'Apologetics',
 'Intermediate Greek',
 'Old Testament Survey',
 ['Hermeneutics'],
 'New Testament Survey',
 'Introduction to Biblical Greek',
 'Apologetics']

#### Conditional Statements

##### If Statements

In [217]:
my_string = "Santa Maria"

my_list = ["Nina", "Pinta", "Santa Maria"] 

# this if in statement creates a conditional statement that searches for "Santa Maria" inside a list and if it is in there prints the f string below
if "Santa Maria" in my_list:
        print(f"The string {my_string} is in the list")

The string Santa Maria is in the list

In [221]:
# testing if an item is a member of a list with an if statement

a_list = ["one", "two", "three", "four"]

if "one" in a_list:
    print("shonuff")

##### If Else Statements

This creates a conditional that has something like a default if the if part fo the condition is not met

In [245]:
x = 130
print(x)
if (x == 150):
    print(f"x is the same as {x}")
else:
    print(f"x is different than {x}")

130
x is different than 130

In [241]:
# this creates an if else statement with logic for a login
string1 = str(input("Please enter username"))
string2 = str(input("Please enter password"))

if (string1 == "jeron123" and string2 == "password"):
    print("User successfully logged in")
else:
    print("Check username or password")

Please enter username jeron123
Please enter password pessword

Check username or password

##### if elif else statements

This is used if there is more than just a this or that type of scenario; multiple conditions

In [257]:
# this if elif else statement creates an evaluation for a set of conditions with resepct to y
y = 20

if (y > 20):
    print("y is greater than 20")
elif (y == 20):
    print("y is equal to 20")
else:
    print("y is less than 20")

y is equal to 20

In [265]:
# this if elif else statement checks to see if a number is greater than or equal to zero and nests an if else statement within an if statement

num = float(input("enter a whole number"))

if (num >= 0):
    if (num > 0):
        print("number is greater than zero")
    else:
        print("number is equal to zero")
else:
    print("number is negative")

enter a whole number -2

number is negative